@inject HttpClient _httpClient

<div class="col-md-2">
    <table class="table table-hover table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th>@Heading</th>
            </tr>
        </thead>
        <tbody>
            @if (characterListLoaded == false)
            {
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <strong>Loading...</strong>
                            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                        </div>
                    </td>
                </tr>
            }
            else
            {
                @for (int i = 0; i < people.Count; i++)
                {
                    <tr>
                        <td><a href="@($"/characterdetails/{people[i].Url.Substring(28)}")">@people[i].Name</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

@code {
    [Parameter]
    public string Heading { get; set; } =  string.Empty;

    [Parameter]
    public List<string> characters { get; set; } = new();

    [Parameter]
    public string ErrorString { get; set; } = string.Empty;

    List<People> people = new List<People>();

    private bool characterListLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        foreach (var character in characters)
        {
            string urlPpath = $"people/{character.Substring(28)}";

            try
            {
                var p = await _httpClient.GetFromJsonAsync<People>(urlPpath);

                people.Add(p);

            }
            catch (Exception ex)
            {
                ErrorString = $"There was an error getting people details: { ex.Message } { urlPpath }";
            }
        }

        characterListLoaded = true;
    }
}
